/* GENERAL STYLES */

html {
    height: 100%;
}

body {
    font-family: 'Roboto', "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    line-height: 1.5rem;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    height: 100%;
}

h1 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

button,
.button {
    color: #ffffff;
    background-color: #00c854;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-size: 1.125rem;
    border: 1px solid #2d2d2d;
}

button:hover,
.button:hover {
    background-color: #00a646;
}

section {
    padding: 1rem;
    padding-top: 2rem;
}

section + section {
    padding-top: 1rem;
}

textarea, input, select {
    color: #000000;
    background-color: #ededed;
    border: 1px solid #2d2d2d;
    border-radius: 0.2rem;
    font-size: 1.125rem;
    padding: 0.5rem;
    outline-color: #00c854;
}

input {
    line-height: 24px;
}

.center-content {
    justify-content: center;
    text-align: center;
}

.sub-section {
    padding-bottom: 1.5rem;
}

.no-wrap {
    white-space: nowrap;
}

.closest-color-container {
    min-height:100%;
    position:relative;
}

.closest-color-header {
    background-color: #2d2d2d;
    padding: 0.5rem 2rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closest-color-header,
.closest-color-footer {
    font-size: 1rem;
}

.closest-color-logo {
    display: flex;
    align-items: center;
}

.closest-color-title {
    display: inline-block;
    margin-left: 0.5rem;
}

.closest-color-footer {
    color: #555555;
    height: 40px;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.closest-color-file-uploader {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.closest-color-file-uploader-button {
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    display: inline-block;
}

.closest-color-file-uploader-byline {
    font-size: 0.8rem;
}

.closest-color-hero-text {
    display: inline-block;
    max-width: 40rem;
}

.closest-color-file-uploader-reset,
.closest-color-css-lead-text {
    color: #00c854;
    cursor: pointer;
}

.closest-color-file-uploader-reset:hover,
.closest-color-css-lead-text:hover {
    text-decoration: underline;
}

.color-display-selector {
    margin-left: 0.5rem;
}

.closest-color-textarea {
    width: 100%;
}

.closest-color-palette {
    display: flex;
    flex-wrap: wrap;
}

.closest-color-palette-filler-item,
.closest-color-palette-item {
    flex: 1 1 8rem;
    display: flex;
    box-sizing: border-box;
}

.closest-color-palette-item {
    border: 1px solid #2d2d2d;
    padding: 0.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.closest-color-palette-single-line .closest-color-palette-item {
    flex: 1 1 auto;
    min-width: 150px;
    max-width: 200px;
}

.closest-color-palette-filler-item {
    height: 0;
}

.closest-color-palette-item-dark-text {
    color: #000000;
}

.closest-color-palette-item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.closest-color-explainer {
    max-width: 40rem;
    columns: 2;
    font-size: 0.875rem;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
}

.closest-color-explainer p {
    margin: 0;
    margin-bottom: 1rem;
}


.closest-color-explainer a:visited,
.closest-color-explainer a {
    color: #00c854;
}
.closest-color-explainer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        font-size: 0.875rem;
    }

    button,
    .button {
        font-size: 1.125rem;
    }

    .closest-color-header,
    .closest-color-footer  {
        font-size: 0.75rem;
    }

    section {
        padding: 0.75rem;
    }

    .closest-color-palette-item {
        width: 100%;
        flex-basis: initial;
    }

    .closest-color-palette-filler-item {
       display: none;
    }

    .color-display-selector {
        font-size: 0.875rem;
    }
}


@media (max-width: 576px) {
    .closest-color-explainer {
        columns: 1;
    }
}

@media (min-width: 768px) {
    /* cf. http://stackoverflow.com/a/29308459 */
    .closest-color-palette-item:before {
        content: "";
        display: block;
        padding-top: 100%;
        float: left;
    }

    .closest-color-palette-item-info {
        display: block;
    }
}

